* {
  margin: 0;
  padding: 0; }

a img {
  border: 0; }

input, select, textarea, button {
  font-family: inherit; }

body {
  font-family: 'Droid Sans', sans-serif;
  color: #226bb5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

p {
  line-height: 1.5em;
  padding-bottom: 20px; }

h2 {
  font-size: 32px; }

a {
  text-decoration: none; }

.button,
a.views-more-link,
.form-submit {
  color: white !important;
  border-radius: 20px;
  padding: 7px 42px;
  display: inline-block;
  background: #226bb5;
  margin-top: 30px;
  text-decoration: none !important; }

#footer {
  text-align: center;
  background: url(../images/footer-back.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 10px 40px;
  color: white; }
  #footer ul.menu {
    float: none;
    text-align: center;
    padding-bottom: 20px; }
  #footer ul.menu li a {
    color: white; }

#site-by-cci a {
  color: white; }

.not-front #content {
  max-width: 960px;
  margin: 0px auto 50px;
  padding: 0px 10px; }

#content {
  overflow: hidden;
  position: relative; }
  #content a {
    text-decoration: underline;
    color: #226bb5; }

#page-title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.8em;
  font-weight: bold; }

.view-news .views-row {
  overflow: hidden;
  margin-bottom: 30px;
  clear: left; }
.view-news .views-field-nothing {
  float: left;
  width: 60%; }
.view-news .views-field-title {
  color: #1860bf;
  font-size: 18pt;
  font-weight: bold;
  max-width: 280px; }
.view-news .views-field-date {
  padding-bottom: 20px; }
  .view-news .views-field-date:after {
    display: block;
    padding-top: 10px;
    content: url(../images/curvy-icon.png); }
.view-news .views-more-link {
  display: block;
  width: 79px; }

.views-field-field-image-news {
  float: left;
  padding-right: 50px; }

#block-views-report-archive-block {
  position: absolute;
  right: 0;
  top: 110px; }

.page-node-7 #block-system-main,
.page-node-7 #block-webform-client-block-6 {
  float: left; }
.page-node-7 #block-system-main {
  width: 49%; }
.page-node-7 #block-webform-client-block-6 {
  width: 51%; }
.page-node-7 #block-system-main > .content {
  padding-right: 40px; }

#block-block-5,
.page-reports #block-system-main {
  width: 60%; }

#header {
  position: relative; }
  #header:after {
    content: "";
    bottom: -2px;
    position: absolute;
    width: 100%;
    height: 100px;
    background: url(../images/white-curve.png) no-repeat;
    background-size: cover;
    background-position: center; }

#archive-block {
  position: absolute;
  top: 75px;
  right: 110px; }
  #archive-block h2 {
    padding-bottom: 10px; }
  #archive-block a {
    text-decoration: none !important;
    font-size: 1.2em; }

.page-reports #block-system-main {
  padding-bottom: 100px; }
.page-reports .views-row {
  margin-bottom: 40px; }
.page-reports .views-field-title {
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 10px; }
.page-reports .views-field-field-links {
  font-weight: bold; }
  .page-reports .views-field-field-links a {
    text-decoration: none !important; }

.view-organizations-views {
  text-align: center; }
  .view-organizations-views .view-content h3 {
    margin-top: 30px;
    margin-bottom: 20px; }
  .view-organizations-views .views-row {
    width: 220px;
    display: inline-block;
    text-align: center;
    margin: 20px 0px;
    position: relative;
    vertical-align: bottom;
    padding-bottom: 40px; }
  .view-organizations-views .views-field-field-image-logo a {
    display: block;
    width: 120px;
    margin: 0 auto; }
  .view-organizations-views .views-field-field-image-logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; }
  .view-organizations-views .views-field-title {
    position: absolute;
    width: 100%; }
    .view-organizations-views .views-field-title a {
      text-decoration: none !important; }

#mobile-menu {
  display: none; }

#navigation {
  padding: 10px 20px; }

#logo {
  display: inline-block;
  vertical-align: middle; }

#block-system-main-menu {
  margin-right: 1em; }
  #block-system-main-menu ul.menu a,
  #block-system-main-menu ul.menu span {
    display: block;
    padding: 10px 0px; }
  #block-system-main-menu li.expanded:hover ul.menu {
    display: block; }
  #block-system-main-menu li.expanded ul.menu {
    position: absolute;
    background: white;
    top: 40px;
    display: none; }
  #block-system-main-menu li.expanded li {
    display: block;
    padding: 0px 10px;
    margin-left: 0px; }
    #block-system-main-menu li.expanded li a {
      display: block;
      padding: 10px 0px; }

.region-navigation {
  float: right;
  margin-top: 12px; }

ul.menu li {
  list-style: none;
  display: inline-block; }
ul.menu a {
  color: #226bb5; }

#block-system-main-menu,
#block-search-form,
.region-navigation {
  display: inline-block;
  vertical-align: middle; }

#navigation {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10; }

#search-block-form .form-submit {
  border: 0px;
  font-size: 0px;
  color: transparent;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  background: url(../images/search-icon.png) no-repeat; }
#search-block-form .form-actions {
  position: absolute;
  top: 4px;
  left: 10px; }
#search-block-form .form-text {
  border: 1px solid #226bb5;
  padding: 10px;
  width: 130px;
  padding-left: 35px;
  color: #226bb5;
  font-size: 14px; }

::-webkit-input-placeholder {
  color: #226bb5; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #226bb5; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #226bb5; }

:-ms-input-placeholder {
  color: #226bb5; }

input,
textarea {
  border: 0px;
  border: 1px solid #226bb5;
  padding: 10px;
  font-size: 1em; }

.webform-component-textfield,
.webform-component-email {
  display: inline-block;
  margin: 10px 0px;
  width: 41%;
  margin-right: 2.5em; }
  .webform-component-textfield input,
  .webform-component-email input {
    width: 100%; }

.form-submit {
  font-size: 16px; }

.form-type-radio {
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px; }

.block-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%); }

#block-imageblock-1 {
  height: 500px;
  background-size: cover;
  background-position: center;
  z-index: -1; }

.front #inner-content {
  display: none; }

#block-block-1 {
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
  padding: 50px 10px; }

#block-block-2 {
  background-image: url(../images/water-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 10px;
  color: white;
  text-align: center;
  background-position: center h1;
    background-position-max-width: 580px;
    background-position-margin: 0 auto;
    background-position-font-size: 2.5em;
    background-position-letter-spacing: 1px;
    background-position-text-transform: uppercase; }

#block-block-3 {
  text-align: center;
  padding: 40px 0px; }
  #block-block-3 .logo {
    display: inline-block;
    margin: 30px;
    position: relative; }
    #block-block-3 .logo div:first-child + div {
      display: block;
      position: absolute; }
      #block-block-3 .logo div:first-child + div span {
        display: block;
        text-align: center; }
      #block-block-3 .logo div:first-child + div a {
        text-decoration: none; }
    #block-block-3 .logo div:first-child {
      display: block;
      padding-bottom: 20px; }
  #block-block-3 img {
    margin-bottom: 10px;
    display: block;
    margin: 0 auto; }

#block-block-4 {
  max-width: 1180px;
  margin: 50px auto;
  overflow: hidden; }
  #block-block-4 .image {
    float: left;
    width: 40%; }
  #block-block-4 .right-content {
    float: left;
    width: 60%; }

@media screen and (max-width: 1061px) {
  #mobile-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    font-weight: bold;
    cursor: pointer; }

  .region-navigation {
    display: none;
    position: absolute;
    right: 0px;
    top: 70px;
    background: white;
    border: 1px solid #226bb5; }

  .not-front #content p img,
  .not-front #content .field-item img {
    float: none !important;
    margin: 20px auto !important;
    width: 280px;
    margin: auto;
    display: block; }

  #block-system-main-menu {
    background: white;
    width: 220px;
    margin: 0; }
    #block-system-main-menu li.expanded ul.menu {
      display: block;
      position: relative;
      top: 0px; }
    #block-system-main-menu ul.menu li {
      margin: 0px 15px;
      padding: 0px;
      display: block; }

  #block-search-form {
    display: block; }
    #block-search-form .form-text {
      border: 0px;
      border-top: 1px solid #226bb5;
      width: 79%; }

  #block-block-3 {
    max-width: 350px;
    margin: 0 auto; }

  .region-header .block-body img {
    width: 280px;
    height: auto; }

  #block-block-4 {
    text-align: center; }
    #block-block-4 .image {
      width: 280px;
      float: none;
      margin: 0 auto; }
      #block-block-4 .image img {
        width: 100% !important;
        height: auto;
        margin: 0 !important; }
    #block-block-4 .right-content {
      float: none;
      width: 100%;
      margin-top: 20px; }
      #block-block-4 .right-content img {
        width: 280px;
        height: auto; } }
@media screen and (max-width: 767px) {
  .view-news .views-field-nothing {
    width: 100%; }

  .page-node-7 #block-system-main, .page-node-7 #block-webform-client-block-6 {
    float: none;
    width: 100%; }

  .webform-component-textfield, .webform-component-email {
    width: 94%; }

  #block-block-5, .page-reports #block-system-main {
    width: 100%; }

  #archive-block {
    position: relative;
    margin-bottom: 20px;
    top: auto;
    right: auto; } }
