input,
textarea
{
	border: 0px;
	border:1px solid $blue;
	padding: 10px;
	font-size: 1em;
}

.webform-component-textfield,
.webform-component-email
{
	display: inline-block;
	margin: 10px 0px;
    width: 41%;
    margin-right: 2.5em;

	input
	{
		width: 100%;
	}
}

.form-submit
{
	font-size: 16px;
}

.form-type-radio
{
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
}