@media screen and (max-width: 1061px)
{	

	#mobile-menu
	{
		display: block;
		position: absolute;
		top: 40px;
		right: 20px;
		font-weight: bold;
		cursor: pointer;
	}

	.region-navigation
	{
		display: none;
		position: absolute;
		right: 0px;
		top: 93px;
		background: white;
		border: 1px solid $blue;
	}

	.not-front #content
	{
		p img,
		.field-item img
		{	
			float: none!important;
			margin: 20px auto!important;
			width: 280px;
			margin: auto;
			display: block;
		}
	}

	#block-system-main-menu
	{	
		background: white;
		width: 220px;
		margin: 0;

		li.expanded ul.menu
		{
			display: block;
			position: relative;
			top: 0px;
		}

		ul.menu
		{	
			li
			{	
				margin: 0px 15px;
				padding: 0px;
				display: block;

				a,span
				{
					padding: 15px 0px;
				}
			}
		}
	}

	#block-search-form
	{
		display: block;
		margin-top: 0px;

		.form-text
		{	
			border: 0px;
			border-top: 1px solid $blue;
			width: 79%;

		}
	}

	#block-block-3
	{
	    max-width: 350px;
	    margin: 0 auto;
	}

	.region-header
	{
		.block-body img
		{
			width: 280px;
			height: auto;
		}
	}

	#block-block-4
	{	
		text-align: center;
		.image
		{	
			width: 280px;
			float: none;
			margin: 0 auto;

			img
			{
				width: 100%!important;
				height: auto;
				margin: 0!important;
			}	
		}

		.right-content
		{
			float: none;
			width: 100%;
			margin-top: 20px;

			img
			{
				width: 280px!important;
				height: auto!important;
			}
		}
	}


}

@media screen and (max-width: 767px)
{
	.view-news .views-field-nothing
	{
		width: 100%;
	}

	#navigation
	{
		padding: 18px 10px;
	}

	#mobile-menu
	{
		top: 30px;
	}

	#logo
	{
		width: 150px;

		img
		{
			width: 100%;
		}
	}

	.region-navigation
	{
		top: 77px;
	}

	.view-organizations-views
	{
		text-align: center;	
	}

	.page-node-7 #block-system-main, .page-node-7 #block-webform-client-block-6
	{
		float: none;
		width: 100%;
	}

	.webform-component-textfield, .webform-component-email
	{
		width: 94%;
	}

	#block-block-5, .page-reports #block-system-main
	{
		width: 100%;
	}

	#archive-block
	{
		position: relative;
		margin-bottom: 20px;
		top: auto;
		right: auto;
	}
}